*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'montserrat';
}
body{
  width:100vw;
  height:100vh;
}
.container{
  width:100%;
  height:100%;
  background-color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
.container .inputs{
  width:250px;
  height:35px;
  position:relative;
}
.container .inputs .label{
  position:absolute;
  top:50%;
  left:20px;
  transform:translateY(-50%);
  font-size:.8em;
  font-weight:400;
  padding:0 10px;
  background-color:#fff;
  transition:all ease-in .4s;
}
.container .inputs input{
  width:100%;
  height:100%;
  border:none;
  outline:none;
  border-radius:0;
  border-bottom:2px solid #09f;
  padding:10px;
  font-size:.9em;
  font-weight:400;
  color:#00000090;
}
